.fab{
    color: black;
}
footer{
    
    color:black;
    bottom: 0px;
    width: 100%;
    background: white;
    box-shadow: 10px 10px 100px teal;
  }
  .main-content{
    display: flex;
  }
  .main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
  }
  .box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .box .content{
    margin: 20px 0 0 0;
  }
  /* .box .content:before{
      position: absolute;
      content: "";
      top: -10px;
      height: 2px;
      width: 100%;
      background: #1a1a1a;
  }
  .box .content:after{
      position: absolute;
      content: "";
      height: 2px;
      width: 15%;
      background: teal;
      top: -10px;
  } */
  .left .content p{
      text-align: justify;
  }
  .left .content .social{
      margin: 20px 0 0 0;
  }
  .left .content .social a{
      padding: 0 2px;
  }
  .left .content .social a span{
      height: 40px;
      width: 40px;
      background: white;
      line-height: 40px;
      text-align: center;
      font-size: 22px;
      border-radius: 5px;
      transition: 0.3s;
  }
  .left .content .social a span:hover{
      background: rgb(116, 214, 214);
  }
  .center .content .fas{
      font-size: 1.4375rem;
      background: white;
      height: 45px;
      width: 45px;
      line-height: 45px;
      text-align: center;
      border-radius: 50%;
      transition: 0.3s;
      cursor: pointer;
  }
  .center .content .fas:hover{
      background: rgb(116, 214, 214);
  }
  .center .content .text{
      font-size: 1.0625rem;
      font-weight: 500;
      padding-left: 10px;
  }
  .center .content .phone{
      margin: 10px 0;
  }
  .right form .text{
      font-size: 1.0625rem;
      margin-bottom: 2px;
      color: black; 
  }
  .right form .msg{
      margin-top: 10px;
  }
  .right form input, .right form textarea{
      width: 100%;
      font-size: 22px !important;
      background: #faf9f9;
      padding-left: 10px;
      border: 1px solid lightgray;
      color: black;
  }
  .right form input:focus,
  .right form textarea:focus{
      outline-color: #3498db;
  }
  .right form input{
      height: 35px;
  }
  .right form .btn11{
      margin-top: 10px;
  }
  .right form .btn11 button{
      height: 40px;
      width: 100%;
      border: none;
      outline: none;
      background: rgb(116, 214, 214);
      font-size: 1.0625rem;
      font-weight: 500;
      cursor: pointer;
      transition: 0.3s;
  }
  .right form .btn11 button:hover{
      background: rgb(32, 209, 186);
  }
  .bottom center{
      padding: 5px;
      font-size: 0.9375rem;
      background:white;
  }
  .bottom center span{
      color: #656565;
  }
  .bottom center a{
      color: teal;
      text-decoration: none;
  }
  .bottom center a:hover{
      text-decoration: underline;
  }
  @media screen and (max-width: 768px) and (orientation: portrait) {
      footer{
          position: relative;
          bottom: 0px;
      }
      .main-content{
          flex-wrap: wrap;
          flex-direction: column;
      }
      .main-content .box{
          margin: 5px 0;
      }
      input,textarea{
          font-size: 20px;
      }
  }