.item{
    height: 240px;
    padding: 30px;
    
}
.slideHome{
    height: 170px;
    width: 170px;
}
.imgslider{
    background-color: whitesmoke;
}
.mdhome{
    background-color: whitesmoke;
    height: 120px;
    padding: 20px;
    display: flex;
    
}
.mddesc{
    margin-left: 20px;
}
.mdimage{
    height: 80px;
}
.linkmd{
    text-decoration: none;
    color: black;
}
@media screen and (max-width: 768px) and (orientation: portrait) {
    .mdhome{
        padding: 5px;
    }
    .item{
        height: 110px;
        /* border: 1px solid black; */
        padding: 0px;
        margin: 0px 10px;
        width: 110px;
    }
    .slideHome{
        height: 90px;
        width: 90px;
        
    }
    .mddescription{
        font-size: 12px;
    }
}