.item{
    height: 240px;
    padding: 30px;
    
}
.contactHarsh{
    margin: 10px;
}
.pizzaPaper{
    height: 100px;
    margin: 10px;
    display: flex;
}
.pizzaPaperLink{
    text-decoration: none;
}
.homePaperImage{
    height: 80px;
    margin: 10px;
}
.slideHome{
    height: 170px;
    width: 170px;
}
.imgslider{
    background-color: whitesmoke;
}
.mdhome{
    background-color: whitesmoke;
    height: 120px;
    padding: 20px;
    display: flex;
    
}
.mddesc{
    margin-left: 20px;
}
.mdimage{
    height: 80px;
}
.linkmd{
    text-decoration: none;
    color: black;
}
.dog{
    height: 100px;
    background-color: whitesmoke;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.feedback{
    
    height: 60px;
    background-color: whitesmoke;
    align-items: center; 
    width: 500px;
}
@media screen and (max-width: 768px) and (orientation: portrait) {
    .feedback{
        width: 300px;
    }
    .homePaperImage{
        height: 80px;
        margin: 5px;
    }
    .dog{
        padding: 5px;

    }
    .dogdescription{
        font-size: small;
    }
    .mdhome{
        padding: 5px;
    }
    .item{
        height: 110px;
        /* border: 1px solid black; */
        padding: 0px;
        margin: 0px 10px;
        width: 110px;
    }
    .slideHome{
        height: 90px;
        width: 90px;
        
    }
    .mddescription{
        font-size: 12px;
    }
}