.allproducts{
    max-width: 100%;
}
.search{
    background: rgb(142, 210, 211);
    margin-top: -5px;
}
.searchInput{
    width: 500px;
}
.shop-title{
    height: 100px;
    font-family: 'Courgette', cursive;
    text-align: center;
    font-size: 50px;
}
.shop{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    flex-direction: column;
}
.shop_row{
    display: flex;
    /* flex-direction: column; */
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
    
}

@media screen and (max-width:768px) and (orientation:portrait){
.shop-title{
    height: 70px;
    font-family: 'Courgette', cursive;
    text-align: center;
    font-size: 25px;
}
.search{
    background: rgb(142, 210, 211);
    margin-top: -10px;
}
.searchInput{
    width: 250px;
}
}